Connected Services/senpa/SEnPA2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SEnPA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SEnPA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Email" nillable="true" type="tns:Email" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmail" nillable="true" type="tns:ArrayOfEmail" />
  <xs:complexType name="Email">
    <xs:sequence>
      <xs:element minOccurs="0" name="BCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryCode" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasAttachments" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsBodyHtml" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReplyTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseDesign" nillable="true" type="tns:EmailMessageDesign" />
      <xs:element minOccurs="0" name="UseGateway" nillable="true" type="tns:EmailGateway" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Email" nillable="true" type="tns:Email" />
  <xs:complexType name="EmailMessageDesign">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailMessageDesign" nillable="true" type="tns:EmailMessageDesign" />
  <xs:complexType name="EmailGateway">
    <xs:sequence>
      <xs:element minOccurs="0" name="GatewayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Smtp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailGateway" nillable="true" type="tns:EmailGateway" />
  <xs:complexType name="ArrayOfSMS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMS" nillable="true" type="tns:SMS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMS" nillable="true" type="tns:ArrayOfSMS" />
  <xs:complexType name="SMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryCode" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseDesign" nillable="true" type="tns:SMSMessageDesign" />
      <xs:element minOccurs="0" name="UseGateway" nillable="true" type="tns:SMSGateway" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMS" nillable="true" type="tns:SMS" />
  <xs:complexType name="SMSMessageDesign">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMSMessageDesign" nillable="true" type="tns:SMSMessageDesign" />
  <xs:complexType name="SMSGateway">
    <xs:sequence>
      <xs:element minOccurs="0" name="GatewayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMSGateway" nillable="true" type="tns:SMSGateway" />
  <xs:complexType name="ArrayOfEmailMessageDesign">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailMessageDesign" nillable="true" type="tns:EmailMessageDesign" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailMessageDesign" nillable="true" type="tns:ArrayOfEmailMessageDesign" />
  <xs:complexType name="DocumentWorkflow">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentRoleGroupId" type="xs:long" />
      <xs:element minOccurs="0" name="DocumentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastRoleGroupId" type="xs:long" />
      <xs:element minOccurs="0" name="NextRoleGroupId" type="xs:long" />
      <xs:element minOccurs="0" name="WorkFlowId" type="xs:long" />
      <xs:element minOccurs="0" name="WorkFlowStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentWorkflow" nillable="true" type="tns:DocumentWorkflow" />
  <xs:complexType name="ArrayOfApplicationUserSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationUserSummary" nillable="true" type="tns:ApplicationUserSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationUserSummary" nillable="true" type="tns:ArrayOfApplicationUserSummary" />
  <xs:complexType name="ApplicationUserSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationUserSummary" nillable="true" type="tns:ApplicationUserSummary" />
  <xs:complexType name="ArrayOfWorkFlowStageDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkFlowStageDocuments" nillable="true" type="tns:WorkFlowStageDocuments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkFlowStageDocuments" nillable="true" type="tns:ArrayOfWorkFlowStageDocuments" />
  <xs:complexType name="WorkFlowStageDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="DocumentTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StageId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkFlowStageDocuments" nillable="true" type="tns:WorkFlowStageDocuments" />
  <xs:complexType name="ArrayOfDocumentLibrary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentLibrary" nillable="true" type="tns:DocumentLibrary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentLibrary" nillable="true" type="tns:ArrayOfDocumentLibrary" />
  <xs:complexType name="DocumentLibrary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DocumentFolderId" type="xs:long" />
      <xs:element minOccurs="0" name="DocumentId" type="xs:long" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentWorkFlowId" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkFlowStageId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentLibrary" nillable="true" type="tns:DocumentLibrary" />
  <xs:complexType name="ArrayOfDocumentFolders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentFolders" nillable="true" type="tns:DocumentFolders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentFolders" nillable="true" type="tns:ArrayOfDocumentFolders" />
  <xs:complexType name="DocumentFolders">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentFolders" nillable="true" type="tns:DocumentFolders" />
  <xs:complexType name="ArrayOfDocumentTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentTypes" nillable="true" type="tns:DocumentTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentTypes" nillable="true" type="tns:ArrayOfDocumentTypes" />
  <xs:complexType name="DocumentTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModifiedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentTypes" nillable="true" type="tns:DocumentTypes" />
  <xs:complexType name="RegistrationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessAssessmentCompletionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BusinessAssessmentStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BusinessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessRegistrationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificateIssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Citizenship" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FK_BusinessDevelopmentOfficerId" type="xs:int" />
      <xs:element minOccurs="0" name="FK_BusinessIslandDistrictId" type="xs:int" />
      <xs:element minOccurs="0" name="FK_BusinessIslandLocationId" type="xs:int" />
      <xs:element minOccurs="0" name="FK_BusinessRegistrationTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="FK_BusinessTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="FK_EducationLevelId" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ResidenceDistrictLocationId" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ResidenceIslandLocationId" type="xs:int" />
      <xs:element minOccurs="0" name="FeePaymentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstNames" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FollowUpVisitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeTelephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequireWorkFlow" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReviewCompletionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Salutation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteVisitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SiteVisitReportCompletionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Stage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubmissionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubmissionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TermsAndConditionsAccepted" type="xs:boolean" />
      <xs:element minOccurs="0" name="WorkFlowId" type="xs:long" />
      <xs:element minOccurs="0" name="WorkFlowStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkTelephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationRequest" nillable="true" type="tns:RegistrationRequest" />
  <xs:complexType name="ArrayOfPickList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PickList" nillable="true" type="tns:PickList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPickList" nillable="true" type="tns:ArrayOfPickList" />
  <xs:complexType name="PickList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PickList" nillable="true" type="tns:PickList" />
  <xs:complexType name="ArrayOfRegistrationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistrationRequest" nillable="true" type="tns:RegistrationRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistrationRequest" nillable="true" type="tns:ArrayOfRegistrationRequest" />
</xs:schema>