Connected Services/senpaSecurity/SEnPASecurity2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SEnPA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SEnPA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="authenticationStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="responseCode" type="xs:int" />
      <xs:element minOccurs="0" name="responseMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationResponse" nillable="true" type="tns:AuthenticationResponse" />
  <xs:complexType name="SignoutResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="signoutStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignoutResponse" nillable="true" type="tns:SignoutResponse" />
  <xs:complexType name="PasswordChangeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="changeStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="responseMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordChangeResponse" nillable="true" type="tns:PasswordChangeResponse" />
  <xs:complexType name="UserRoleActionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="actionStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="responseMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRoleActionResponse" nillable="true" type="tns:UserRoleActionResponse" />
  <xs:complexType name="UserActionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="actionStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="responseMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserActionResponse" nillable="true" type="tns:UserActionResponse" />
  <xs:complexType name="ArrayOfApplicationUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationUsers" nillable="true" type="tns:ApplicationUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationUsers" nillable="true" type="tns:ArrayOfApplicationUsers" />
  <xs:complexType name="ApplicationUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Locked" type="xs:boolean" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordExpires" type="xs:boolean" />
      <xs:element minOccurs="0" name="PasswordExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PasswordLastChanged" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RoleGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationUsers" nillable="true" type="tns:ApplicationUsers" />
  <xs:complexType name="ArrayOfApplicationRoles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationRoles" nillable="true" type="tns:ApplicationRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationRoles" nillable="true" type="tns:ArrayOfApplicationRoles" />
  <xs:complexType name="ApplicationRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationRoles" nillable="true" type="tns:ApplicationRoles" />
  <xs:complexType name="ArrayOfApplicationRoleGroups">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationRoleGroups" nillable="true" type="tns:ApplicationRoleGroups" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationRoleGroups" nillable="true" type="tns:ArrayOfApplicationRoleGroups" />
  <xs:complexType name="ApplicationRoleGroups">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleGroupId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationRoleGroups" nillable="true" type="tns:ApplicationRoleGroups" />
</xs:schema>