Connected Services/senpaSecurity/SEnPASecurity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SEnPASecurity" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SEnPA/SEnPASecurity.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SEnPA/SEnPASecurity.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SEnPA/SEnPASecurity.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SEnPA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISEnPASecurity_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_Signout_InputMessage">
    <wsdl:part name="parameters" element="tns:Signout" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_Signout_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignoutResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_AddRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRole" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_AddRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_RemoveRole_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRole" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_RemoveRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_GetApplicationRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationRoles" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_GetApplicationRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_AddGroupRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGroupRole" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_AddGroupRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGroupRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_RemoveGroupRole_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGroupRole" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_RemoveGroupRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGroupRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_GetApplicationGroupRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationGroupRoles" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_GetApplicationGroupRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationGroupRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_AddUserGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserGroup" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_AddUserGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_GetApplicationUserGroupRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationUserGroupRoles" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_GetApplicationUserGroupRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationUserGroupRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_AddUserGroupRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserGroupRole" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_AddUserGroupRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserGroupRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_RemoveUserGroupRole_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserGroupRole" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_RemoveUserGroupRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserGroupRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_DefaultPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:DefaultPassword" />
  </wsdl:message>
  <wsdl:message name="ISEnPASecurity_DefaultPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:DefaultPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="ISEnPASecurity">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/Authenticate" message="tns:ISEnPASecurity_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/AuthenticateResponse" message="tns:ISEnPASecurity_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Signout">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/Signout" message="tns:ISEnPASecurity_Signout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/SignoutResponse" message="tns:ISEnPASecurity_Signout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/ChangePassword" message="tns:ISEnPASecurity_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/ChangePasswordResponse" message="tns:ISEnPASecurity_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/AddRole" message="tns:ISEnPASecurity_AddRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/AddRoleResponse" message="tns:ISEnPASecurity_AddRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/RemoveRole" message="tns:ISEnPASecurity_RemoveRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/RemoveRoleResponse" message="tns:ISEnPASecurity_RemoveRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/AddUser" message="tns:ISEnPASecurity_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/AddUserResponse" message="tns:ISEnPASecurity_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/UpdateUser" message="tns:ISEnPASecurity_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/UpdateUserResponse" message="tns:ISEnPASecurity_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/GetUsers" message="tns:ISEnPASecurity_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/GetUsersResponse" message="tns:ISEnPASecurity_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/GetUser" message="tns:ISEnPASecurity_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/GetUserResponse" message="tns:ISEnPASecurity_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/GetApplicationRoles" message="tns:ISEnPASecurity_GetApplicationRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/GetApplicationRolesResponse" message="tns:ISEnPASecurity_GetApplicationRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGroupRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/AddGroupRole" message="tns:ISEnPASecurity_AddGroupRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/AddGroupRoleResponse" message="tns:ISEnPASecurity_AddGroupRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGroupRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/RemoveGroupRole" message="tns:ISEnPASecurity_RemoveGroupRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/RemoveGroupRoleResponse" message="tns:ISEnPASecurity_RemoveGroupRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationGroupRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/GetApplicationGroupRoles" message="tns:ISEnPASecurity_GetApplicationGroupRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/GetApplicationGroupRolesResponse" message="tns:ISEnPASecurity_GetApplicationGroupRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/AddUserGroup" message="tns:ISEnPASecurity_AddUserGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/AddUserGroupResponse" message="tns:ISEnPASecurity_AddUserGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationUserGroupRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/GetApplicationUserGroupRoles" message="tns:ISEnPASecurity_GetApplicationUserGroupRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/GetApplicationUserGroupRolesResponse" message="tns:ISEnPASecurity_GetApplicationUserGroupRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserGroupRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/AddUserGroupRole" message="tns:ISEnPASecurity_AddUserGroupRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/AddUserGroupRoleResponse" message="tns:ISEnPASecurity_AddUserGroupRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserGroupRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/RemoveUserGroupRole" message="tns:ISEnPASecurity_RemoveUserGroupRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/RemoveUserGroupRoleResponse" message="tns:ISEnPASecurity_RemoveUserGroupRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISEnPASecurity/DefaultPassword" message="tns:ISEnPASecurity_DefaultPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISEnPASecurity/DefaultPasswordResponse" message="tns:ISEnPASecurity_DefaultPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISEnPASecurity" type="tns:ISEnPASecurity">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Signout">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/Signout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/AddRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRole">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/RemoveRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationRoles">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/GetApplicationRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroupRole">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/AddGroupRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroupRole">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/RemoveGroupRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationGroupRoles">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/GetApplicationGroupRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserGroup">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/AddUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationUserGroupRoles">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/GetApplicationUserGroupRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserGroupRole">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/AddUserGroupRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserGroupRole">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/RemoveUserGroupRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefaultPassword">
      <soap:operation soapAction="http://tempuri.org/ISEnPASecurity/DefaultPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SEnPASecurity">
    <wsdl:port name="BasicHttpBinding_ISEnPASecurity" binding="tns:BasicHttpBinding_ISEnPASecurity">
      <soap:address location="http://localhost/SEnPA/SEnPASecurity.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>